{% extends "base.html" %}
{% block body %}
<main>
    <div style="background-image:url('/static/img/background.png');background-size:100%">
        {% if count == 0 %}
        <br><br><br><br>
            <p style="text-align:center;font-size:70px;color:green;">В вашей карзине пока ничего нет</p>
        <br><br><br><br>
        {% endif %}
        {% if count != 0 %}
    <p style="text-align:center;font-size:30px;color:green;">Корзина. Количество элементов: {{ count }}</p>
        {% for el in range(0, count) %}
    <div class="card mb-3" style="margin-left:50px;max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <a href="/more/{{ items[el][1] }}"><img src="/static/img/{{items[el][4]}}" class="card-img" alt="..."></a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ items[el][2] }}</h5>
        <p class="card-text">{{ items[el][3] }}</p>
          <a style="margin-left:15px;margin-top:20px;font-size:15px;" type="button" class="btn btn-success" href="/buy_item/{{ items[el][1] }}">Купить</a>
            <a style="margin-left:10px;margin-top:20px;font-size:15px;" type="button" class="btn btn-danger" href="#">Удалить из корзины</a>
      </div>
    </div>
  </div>
</div>
        {% endfor %}
        {% endif %}
        </div>
</main>
{% endblock %}
